/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.ets-btn {
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 0;
    border: 0;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    letter-spacing: .0333em;
    line-height: 1.25;
    margin: 0;
    opacity: 1;
    text-transform: uppercase;
}
.ultimate-member-btn-disconnect{
    background-color: #FF0000;
}
.ultimate-member-btn-connect{
    background-color: #77a02e;
}
.ets-spinner{
  background: url(../images/spinner.gif) no-repeat;
  background-size: auto;
  background-size: 20px 20px;
  display: inline-block;
  visibility: hidden;
  vertical-align: middle;
  opacity: 0.7;
  filter: alpha(opacity=70);
  width: 20px;
  height: 20px;
  margin: 4px 10px 0;

}
.ets-is-active{
  visibility: visible;
}
 .ets_assigned_role{
  font-size: 12px;
 }
a.ultimate-member-btn-disconnect img ,
a.ultimate-member-btn-connect img{
    width: 20px;
    display: inline-block;
    margin-left: 5px;
    
}
 .ets_assigned_role > span{
    padding: 0px 7px;
    border-radius: 12px;
    color: #fff;
    display: inline-flex;
    flex-direction: row;
    align-items: center; 
    background-color: #28303d;
    margin-right: 5px;
 }
 .ets_assigned_role > span > i{
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 6px;     
 }